src/main/java/soap1/RealtySoap.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap/" name="RealtySoapServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap/" schemaLocation="http://iozhik.ru:9000/RealtySoap?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="index">
<part name="parameters" element="tns:index"></part>
</message>
<message name="indexResponse">
<part name="parameters" element="tns:indexResponse"></part>
</message>
<message name="search">
<part name="parameters" element="tns:search"></part>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"></part>
</message>
<message name="getSchema">
<part name="parameters" element="tns:getSchema"></part>
</message>
<message name="getSchemaResponse">
<part name="parameters" element="tns:getSchemaResponse"></part>
</message>
<message name="getCheckoutSchema">
<part name="parameters" element="tns:getCheckoutSchema"></part>
</message>
<message name="getCheckoutSchemaResponse">
<part name="parameters" element="tns:getCheckoutSchemaResponse"></part>
</message>
<message name="getReference">
<part name="parameters" element="tns:getReference"></part>
</message>
<message name="getReferenceResponse">
<part name="parameters" element="tns:getReferenceResponse"></part>
</message>
<message name="detail">
<part name="parameters" element="tns:detail"></part>
</message>
<message name="detailResponse">
<part name="parameters" element="tns:detailResponse"></part>
</message>
<message name="checkout">
<part name="parameters" element="tns:checkout"></part>
</message>
<message name="checkoutResponse">
<part name="parameters" element="tns:checkoutResponse"></part>
</message>
<portType name="RealtySoapService">
<operation name="index">
<input wsam:Action="http://soap/RealtySoapService/indexRequest" message="tns:index"></input>
<output wsam:Action="http://soap/RealtySoapService/indexResponse" message="tns:indexResponse"></output>
</operation>
<operation name="search">
<input wsam:Action="http://soap/RealtySoapService/searchRequest" message="tns:search"></input>
<output wsam:Action="http://soap/RealtySoapService/searchResponse" message="tns:searchResponse"></output>
</operation>
<operation name="getSchema">
<input wsam:Action="http://soap/RealtySoapService/getSchemaRequest" message="tns:getSchema"></input>
<output wsam:Action="http://soap/RealtySoapService/getSchemaResponse" message="tns:getSchemaResponse"></output>
</operation>
<operation name="getCheckoutSchema">
<input wsam:Action="http://soap/RealtySoapService/getCheckoutSchemaRequest" message="tns:getCheckoutSchema"></input>
<output wsam:Action="http://soap/RealtySoapService/getCheckoutSchemaResponse" message="tns:getCheckoutSchemaResponse"></output>
</operation>
<operation name="getReference">
<input wsam:Action="http://soap/RealtySoapService/getReferenceRequest" message="tns:getReference"></input>
<output wsam:Action="http://soap/RealtySoapService/getReferenceResponse" message="tns:getReferenceResponse"></output>
</operation>
<operation name="detail">
<input wsam:Action="http://soap/RealtySoapService/detailRequest" message="tns:detail"></input>
<output wsam:Action="http://soap/RealtySoapService/detailResponse" message="tns:detailResponse"></output>
</operation>
<operation name="checkout">
<input wsam:Action="http://soap/RealtySoapService/checkoutRequest" message="tns:checkout"></input>
<output wsam:Action="http://soap/RealtySoapService/checkoutResponse" message="tns:checkoutResponse"></output>
</operation>
</portType>
<binding name="RealtySoapServicePortBinding" type="tns:RealtySoapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="index">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="search">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSchema">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCheckoutSchema">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getReference">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="detail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkout">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="RealtySoapServiceService">
<port name="RealtySoapServicePort" binding="tns:RealtySoapServicePortBinding">
<soap:address location="http://iozhik.ru:9000/RealtySoap"></soap:address>
</port>
</service>
</definitions>